table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    /* width: 100%; */
    float: left;
  }
  .mat-elevation-z8{
    width: 100%;
  }
  td, th {
    width: 25%;
    
  }
  th {
    font-weight: 600;
    font-size: 20px;
    color: black;
  }
  button{
    float: left;
    margin-top: 5px;
  }
 .add-update-btn{
    display: none;
  }
  
  .mat-stroked-button{
      margin:5px;
  }