
  /* .list-all-passenger{
    width: 800px;
    margin: 0 auto;
 }


 /* @media only screen and (max-device-width: 480px) {
   .list-all-passenger{
      width: 50%;
   } */

   .list-all-title{
      text-align: center;
   }  