<mat-table [dataSource]="dataSource" class="mat-elevation-z8 seat_layout">
    <!--  Column -->
    <ng-container matColumnDef="0">
        <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element['0']}}</mat-cell>
      </ng-container>0
    <ng-container matColumnDef="1">
      <mat-header-cell *matHeaderCellDef> 1 </mat-header-cell>
      <mat-cell *matCellDef="let element"> <span class="seat-box" [ngClass]="getClassname(1 , element['0'])" (click)="handleClick(1 , element['0'])"> </span> </mat-cell>
    </ng-container>
  
    <!-- Column -->
    <ng-container matColumnDef="2">
      <mat-header-cell *matHeaderCellDef> 2 </mat-header-cell>
      <mat-cell *matCellDef="let element"> <span class="seat-box" [ngClass]="getClassname(2 , element['0'])" (click)="handleClick(2 , element['0'])"> </span> </mat-cell>
    </ng-container>
  
    <!--  Column -->
    <ng-container matColumnDef="3">
      <mat-header-cell *matHeaderCellDef> 3 </mat-header-cell>
      <mat-cell *matCellDef="let element"> <span class="seat-box" [ngClass]="getClassname(3 , element['0'])" (click)="handleClick(3 , element['0'])"> </span> </mat-cell>

    </ng-container>
  
    <!-- Column -->
    <ng-container matColumnDef="4">
      <mat-header-cell *matHeaderCellDef> 4 </mat-header-cell>
      <mat-cell *matCellDef="let element"> <span class="seat-box" [ngClass]="getClassname(4 , element['0'])" (click)="handleClick(4 , element['0'])"> </span> </mat-cell>
    </ng-container>

     <!-- Column -->
    <ng-container matColumnDef="5">
        <mat-header-cell *matHeaderCellDef> 5 </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span class="seat-box" [ngClass]="getClassname(5 , element['0'])" (click)="handleClick(5 , element['0'])"> </span> </mat-cell>
    </ng-container>

     <!-- Column -->
      <ng-container matColumnDef="6">
        <mat-header-cell *matHeaderCellDef> 6 </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span class="seat-box" [ngClass]="getClassname(6 , element['0'])" (click)="handleClick(6 , element['0'])"> </span> </mat-cell>
    </ng-container>

     <!-- Column -->
      <ng-container matColumnDef="7">
        <mat-header-cell *matHeaderCellDef> 7 </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span class="seat-box" [ngClass]="getClassname(7 , element['0'])" (click)="handleClick(7 , element['0'])"> </span> </mat-cell>
    </ng-container>

     <!-- Column -->
      <ng-container matColumnDef="8">
        <mat-header-cell *matHeaderCellDef> 8 </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span class="seat-box" [ngClass]="getClassname(8 , element['0'])" (click)="handleClick(8 , element['0'])"> </span> </mat-cell>
    </ng-container>

     <!-- Column -->
      <ng-container matColumnDef="9">
        <mat-header-cell *matHeaderCellDef> 9 </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span class="seat-box" [ngClass]="getClassname(9 , element['0'])" (click)="handleClick(9 , element['0'])"> </span> </mat-cell>
    </ng-container>

     <!-- Column -->
      <ng-container matColumnDef="10">
        <mat-header-cell *matHeaderCellDef> 10 </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span class="seat-box" [ngClass]="getClassname(10 , element['0'])" (click)="handleClick(10 , element['0'])"> </span> </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div class='table-footer'>
    <div class="table-footer-booked">  </div><span>Booked</span>
    <span class="table-footer-available"> </span><span>Available</span>
    <span class="table-footer-infant">  </span><span>Infant</span>
    <span class="table-footer-wheelchair">  </span><span>Wheel Chair</span>
  </div>